{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "esmodules": false
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-transform-runtime"]
}